{% extends "main.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}


<div class="container wrapper">
		<div class="longrek"></div>
		<div class="l_news">
			<div class="title">Актуальные</div>
			<div class="l_news_box">
				<div id="littlenews" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<a href="#">Nulla consequat massa quis enim. Donec pede justo, fringilla vel</a>
						</div>
						<div class="item">
							<a href="#">111 Nulla consequat massa quis enim. Donec pede justo, fringilla vel</a>
						</div>
					</div>

					<a class="left carousel-control" href="#littlenews" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#littlenews" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="fav_news">
			<div class="big_fav">
				<div id="bigfav" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="{% static 'img/news2.jpg' %}" alt="...">
								<a href="#">
									<div class="carousel-caption">
										<div class="caption_pos">
											<div class="type_news">ПОЛИТИКА</div>
											<div class="title">УЗБЕКИСТАН ПОВЫСИТ ЭФФЕКТИВНОСТЬ МЕР ПО СОЦИАЛЬНОЙ ЗАЩИТЕ ВОЕННОСЛУЖАЩИХ</div>
											<span class="date">13.01.2017</span>
											<span class="com_count"><span class="fa fa-comments"></span> 125 </span>
										</div>

									</div>
								</a>
						</div>

					</div>
					<div class="control">
					<a class="left carousel-control" href="#bigfav" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#bigfav" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
					</div>
				</div>
			</div>
			<div class="list_fav">
			<div class="title"><b>Актульные</b> новости</div>
				<ul>
					<li>
						{% for new in news %}
							{% if new.category_id == 1 %}
								<a href="{% url 'new:info' new.id %}">
								<div class="list_fimg">
								<img src="{{ new.photo.url }}" alt="">
								</div>
								<span class="list_type">ОБЩЕСТВО</span>
								<span class="list_title">{{ new.info }}</span>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								</a>
						{% endif %}
						{% endfor %}
					</li>
				</ul>
				<a href="#" class="more">больше актуальные новости</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="head_title">популярные новости</div>
		<div class="popular">
			<div class="row">
				{% for new in news %}
				{% if new.category_id == 5 %}
				<div class="col-md-3 col-xs-12">
					<div class="p_img"><img src="{{ new.photo.url }}" alt=""></div>
					<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
					<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
					<span class="p_type"><i class="fa fa-pencil"></i> Общество</span>

				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<a href="#" class="big_more">больше новости</a>
		<div class="rek1"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="head_title">ПРОИСШЕСТВИЯ</div>
				<div class="news_box">
					<div class="row">
						{% for new in news %}
						{% if new.category_id == 6 and new.id == 18%}
						<div class="col-md-6 col-xs-12">
							<div class="big_news">
								<div class="big_n_img"><img src="{{ new.photo.url }}" alt=""></div>
								<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								<div class="desc">{{ new.info }}</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
										{% if new.category_id == 6 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
									{% endif %}
						{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="big_more">больше новости</a>
				<div class="head_title">ПОЛИТИКА</div>
				<div class="news_box">
					<div class="row">
						{% for new in news %}
						{% if new.category_id == 8 and new.id == 21%}
						<div class="col-md-6 col-xs-12">
							<div class="big_news">
								<div class="big_n_img"><img src="{{ new.photo.url }}" alt=""></div>
								<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								<span class="news_type"><i class="fa fa-pencil"></i>Общество</span>
								<div class="desc">{{ new.info }}</div>
							</div>
						</div>
							{% endif %}
							{% endfor %}
					</div>

				</div>
				<div class="news_box">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 8 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 8 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="big_more">больше новости</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">Свежие новости</div>
				<div id="listnews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul class="list_news">
									{% for new in news %}
									{% if new.category_id == 7 %}
									<li>
										<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
										<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
										<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
										<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
									</li>
										{% endif %}
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#listnews" data-slide-to="0" class="active"></li>
							<li data-target="#listnews" data-slide-to="1"></li>
						</ol>
					</div>
				</div>

				<div class="head_title colum">Колумнисты</div>
					<div class="news_box colums">
								<ul class="list_news">
									{% for new in news %}
									{% if new.category_id == 9 %}
									<li>
										<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
										<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
										<div class="col_type">{{ new.info }}</div>
									</li>
									{% endif %}
								{% endfor %}
								</ul>
					</div>


				<div class="news_box rek">
					<div class="rek_right">

					</div>
				</div>
				<div class="subscribe">
					<div class="title">Подписывайся на <b>1news.uz</b></div>
					<form action="">
						<div class="input-group">
							<input type="text" name="email" placeholder="Email">
							<button class="submit">Подписываться</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<div class="culture">
		<div class="container">
			<div class="title">КУЛЬТУРА</div>
			<div id="culture" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#culture" data-slide-to="0" class="active"></li>
					<li data-target="#culture" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="big_cult">
							{% for new in news %}
							{% if new.category_id == 10 %}
							<img src="{{ new.photo.url }}" alt="">
							<a href="{% url 'new:info' new.id %}">
								<div class="caption">{{ new.info }}</div>
							</a>
							{% endif %}
							{% endfor %}
						</div>
						<div class="little_cult">
							{% for new in news %}
							{% if new.category_id == 10 %}
								<img src="{{ new.photo.url }}" alt="">
							<a href="{% url 'new:info' new.id %}">
									<div class="caption">{{ new.info }}</div>
							</a>
   							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="more">больше новости</a>
		</div>
	</div>
<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="head_title">ОБЩЕСТВО</div>
				<div class="news_box">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{% for new in news %}
							{% if new.category_id == 11 and new.id == 36 %}
							<div class="big_news">
								<div class="big_n_img"><img src="{{ new.photo.url }}" alt=""></div>
								<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								<span class="news_type"><i class="fa fa-pencil"></i>Общество</span>
								<div class="desc">{{ new.info }}</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="news_box">
					<div class="row">
						<div class="col-md-6 col-xs-12">
						<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 11 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 11 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="big_more">больше новости</a>
				<div class="head_title">В мире</div>
				<div class="news_box">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{% for new in news %}
							{% if new.category_id == 14 and new.id == 40 %}
							<div class="big_news">
								<div class="big_n_img"><img src="{{ new.photo.url }}" alt=""></div>
								<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								<span class="news_type"><i class="fa fa-pencil"></i>Общество</span>
								<div class="desc">{{ new.info }}</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					<div class="col-md-6 col-xs-12">
							{% for new in news %}
							{% if new.category_id == 14 and new.id == 41 %}
							<div class="big_news">
								<div class="big_n_img"><img src="{{ new.photo.url }}" alt=""></div>
								<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
								<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
								<span class="news_type"><i class="fa fa-pencil"></i>Общество</span>
								<div class="desc">{{ new.info }}</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>

					</div>
				</div>
				<div class="news_box">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 14 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6 col-xs-12">
							<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 14 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="big_more">больше новости</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">ТЕХНОЛОГИИ</div>
				<div class="carousel slide listnews technonews" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
									{% for new in news %}
									{% if new.category_id == 12 %}
								<div class="full_img">
									<img src="{{ new.photo.url }}" alt="">
								</div>
								<div class="news_box">
										<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
										<p>{{ new.info }}</p>
								</div>
								{% endif %}
								{% endfor %}
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#technews" data-slide-to="0" class="active"></li>
							<li data-target="#technews" data-slide-to="1"></li>
						</ol>
					</div>
				</div>
				<div class="head_title">ЭКОНОМИКА</div>
				<div class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
										<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 13 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#econews" data-slide-to="0" class="active"></li>
							<li data-target="#econews" data-slide-to="1"></li>
						</ol>
					</div>
				</div>
				<div class="head_title photo_news">НОВОСТИ В ФОТО</div>
				<div id="technews" class="carousel slide listnews" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
									{% for new in news %}
									{% if new.category_id == 15 %}
								<div class="full_img">
									<img src="{{ new.photo.url }}" alt="">
								</div>
								<div class="news_box">
										<a href="{% url 'new:info' new.id %}">{{ new.name }}</a>
										<p>{{ new.info }}</p>
								</div>
								{% endif %}
								{% endfor %}
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#technews" data-slide-to="0" class="active"></li>
							<li data-target="#technews" data-slide-to="1"></li>
						</ol>
					</div>
				</div>
				<div class="head_title sport">СПОРТ</div>
				<div id="econews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
								<div class="item active">
										<ul class="list_news">
								{% for new in news %}
									{% if new.category_id == 16 %}
								<li>
									<div class="list_img"><img src="{{ new.photo.url }}" alt=""></div>
									<a href="{% url 'new:info' new.id %}">{{ new.info }}</a>
									<span class="date">{{ new.created_date|date:'d.m.Y' }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#econews" data-slide-to="0" class="active"></li>
							<li data-target="#econews" data-slide-to="1"></li>
						</ol>
					</div>
				</div>
				<div class="head_title weather">Погода</div>
				<div class="news_box"></div>
			</div>
		</div>
	</div>
{% endblock %}